In [19]:
import pandas as pd
from utilities import CohortDateMapper

import question_3gh as q3_end
import question_4 as q4



customer_df = pd.read_excel('data/customer_data.xlsx')

cdm = CohortDateMapper(customer_df)

customer_df

,cohort,user,time_year,time_month,subscription,content,genres,recency_new,bounce
0,0,0,2017,8,1,2.0,2.0,1.0000,0.5000
1,0,0,2017,9,1,1.0,1.0,1.0000,0.0000
2,0,1,2017,8,1,1.0,1.0,0.0000,1.0000
3,0,1,2017,9,1,1.0,1.0,0.0000,0.5000
4,0,2,2017,8,1,12.0,4.0,0.2500,0.0000
...,...,...,...,...,...,...,...,...,...
31672,11,20170,2018,7,1,2.0,2.0,0.5000,1.0000
31673,11,20171,2018,7,1,3.0,2.0,0.3333,0.6667
31674,11,20172,2018,7,1,1.0,1.0,1.0000,1.0000
31675,11,20173,2018,7,1,4.0,3.0,0.2500,0.0000
31676,11,20174,2018,7,1,3.0,2.0,0.0000,0.6667

In [21]:
#4-c calculate expected customer lifetime value by changing monthly retention rate

expected_lifetime = q4.calculate_exp_lifetime(avg_retention_rates_per_month)
expected_lifetime

1.6060824031499064